# INFORME MACHINE LEARNING

JUAN SEBASTIAN GOMEZ MEZU
JUAN CAMILO FLOREZ RIVERA
EDWIN LEONARDO CUARAN CUARAN

In [3]:
import numpy as np
import pandas as pd
import sklearn
import warnings

# Carga de los datos del csv games.csv

In [4]:
datos = pd.read_csv('games.csv', sep=';')
datos.columns = [
    "gameDuration",
    "firstBlood",
    "firstTower",
    "firstInhibitor",
    "firstBaron",
    "firstDragon",
    "firstRiftHerald",
    "t1_towerKills",
    "t1_inhibitorKills",
    "t1_baronKills",
    "t1_dragonKills",
    "t1_riftHeraldKills",
    "t2_towerKills",
    "t2_inhibitorKills",
    "t2_baronKills",
    "t2_dragonKills",
    "t2_riftHeraldKills",
    "winner"
]

In [5]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50286 entries, 0 to 50285
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   gameDuration        50286 non-null  int64
 1   firstBlood          50286 non-null  int64
 2   firstTower          50286 non-null  int64
 3   firstInhibitor      50286 non-null  int64
 4   firstBaron          50286 non-null  int64
 5   firstDragon         50286 non-null  int64
 6   firstRiftHerald     50286 non-null  int64
 7   t1_towerKills       50286 non-null  int64
 8   t1_inhibitorKills   50286 non-null  int64
 9   t1_baronKills       50286 non-null  int64
 10  t1_dragonKills      50286 non-null  int64
 11  t1_riftHeraldKills  50286 non-null  int64
 12  t2_towerKills       50286 non-null  int64
 13  t2_inhibitorKills   50286 non-null  int64
 14  t2_baronKills       50286 non-null  int64
 15  t2_dragonKills      50286 non-null  int64
 16  t2_riftHeraldKills  50286 non-null  int64
 17  winner              50286 non-null  int64
dtypes: int64(18)
memory usage: 6.9 MB

# Separamos los datos de entrenamiento y de prueba

In [7]:
from sklearn.model_selection import train_test_split
N=len(datos)
cTrain = int(N*0.8)
cTest = N-cTrain
print (N,cTrain,cTest)
train_data, test_data, = sklearn.model_selection.train_test_split(datos, train_size=cTrain, test_size=cTest)

50286 40228 10058

In [8]:
train_data.shape

(40228, 18)

In [9]:
train_data.head()

,gameDuration,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,t1_towerKills,t1_inhibitorKills,t1_baronKills,t1_dragonKills,t1_riftHeraldKills,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,winner
25687,1658,2,2,2,2,2,0,1,0,0,0,0,11,2,1,3,0,2
8369,2838,2,2,2,1,2,0,8,2,1,1,0,9,3,0,4,0,2
24739,1503,2,2,1,1,1,0,10,2,1,2,0,1,0,0,0,0,1
23906,2192,1,1,2,1,2,1,6,0,1,1,1,10,2,0,2,0,2
46907,2897,1,1,2,2,2,0,8,1,0,2,0,8,4,1,3,0,2

# Pipeline de los atributos num√©ricos

In [11]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, MinMaxScaler

num_attribs = ["gameDuration",
    "firstBlood",
    "firstTower",
    "firstInhibitor",
    "firstBaron",
    "firstDragon",
    "firstRiftHerald",
    "t1_towerKills",
    "t1_inhibitorKills",
    "t1_baronKills",
    "t1_dragonKills",
    "t1_riftHeraldKills",
    "t2_towerKills",
    "t2_inhibitorKills",
    "t2_baronKills",
    "t2_dragonKills",
    "t2_riftHeraldKills"]

num_pipeline = Pipeline([
    ("imputer", SimpleImputer(strategy="median")),
    ("scaler", StandardScaler())
])

# Pipeline Completo

In [13]:
from sklearn.compose import ColumnTransformer

full_pipeline = ColumnTransformer ([
    ("num", num_pipeline, num_attribs)
])

In [14]:
X_train = full_pipeline.fit_transform(train_data)

In [15]:
X_train.shape

(40228, 17)

In [16]:
X_train[0,:]

array([-0.47199909,  1.02278105,  1.02624891,  1.01155142,  1.2547176 ,
        0.9842505 , -0.90691132, -1.2892085 , -0.82235242, -0.64988443,
       -1.17813005, -0.58783762,  1.39761354,  0.78739062,  0.93715115,
        1.28057564, -0.57023143])

In [17]:
y_train = train_data["winner"]
y_train

25687    2
8369     2
24739    1
23906    2
46907    2
        ..
44979    1
5450     1
17554    1
35433    1
44128    2
Name: winner, Length: 40228, dtype: int64

# Entrenamiento de las Redes Neuronales

In [19]:
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import cross_val_score

modelo1 = MLPClassifier(activation="relu",solver="lbfgs", alpha=1e-5,hidden_layer_sizes=(3,5), random_state=123)
modelo1.fit(X_train, y_train)
scores1 = cross_val_score(modelo1, X_train, y_train, cv=5, scoring="accuracy")
print(scores1)
scores1.mean()

C:\Users\Camilo\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:549: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)
C:\Users\Camilo\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:549: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)
C:\Users\Camilo\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:549: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)
C:\Users\Camilo\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:549: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)

[0.97663435 0.98110863 0.97638578 0.97787446 0.97700435]

C:\Users\Camilo\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:549: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)

0.9778015132688719

In [20]:
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import cross_val_score

modelo2 = MLPClassifier(activation="logistic",solver="lbfgs", alpha=1e-5,hidden_layer_sizes=(1,3), random_state=123)
modelo2.fit(X_train, y_train)
scores2 = cross_val_score(modelo2, X_train, y_train, cv=5, scoring="accuracy")
print(scores2)
scores2.mean()

[0.9711658  0.97377579 0.97191151 0.97364823 0.97315103]

0.9727304697801191